*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

:root {
  --primary-color: #4b1977;
  --secondary-color: #5B2A86;
}

body {
  position: relative;
}

/* pop up */
.subscribe-pop-up {
  background-color: #AF0;
  position: fixed;
  top: -100px;
  left: 50%;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: #fff;
  border-radius: 999px;
  transform: translateX(-50%);
  transition: 1.5s ease-in;
  z-index: 20;
}

.show {
  transform: translate(-50%, 250px);
}

/* header */
.header-container {
  background-color: var(--primary-color);
  position: sticky;
  top: 0px;
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.header-subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.navbar-container,
.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navbar-item {
  color: #fff;
}

.button-subscribe,
.banner-button-subscribe {
  background-color: var(--secondary-color);
  padding: 0.5rem 1rem;
  color: #fff;
  z-index: 1;
}

/* main */
.content-container {
  width: 100%;
  min-height: calc(100vh - 416px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8rem;
}

.banner-container {
  background: no-repeat center/cover url("images/banner.jpg");
  width: 100%;
  height: 800px;
  position: relative;
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 3rem;
}

.banner-container::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  inset: 0;
  z-index: 0;
}

.banner-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.banner-title,
.banner-text {
  text-align: right;
  color: #fff;
  z-index: 1;
}

.banner-title {
  font-size: 4rem;
}

.banner-text {
  width: 60%;
  font-size: 1.5rem;
}

.banner-button-subscribe {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 1rem 2rem;
}

.about-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.about-title {
  font-size: 3rem;
}

.about-text {
  font-size: 1.25rem;
}

.about-image {
  width: 600px;
  height: 800px;
  object-fit: cover;
  object-position: 75%;
  border-radius: 8px;
}

.info-container {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding: 6rem;
}

.info-title {
  font-size: 3rem;
  color: #fff;
}

.info-subcontainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.info-icon {
  background-color: var(--secondary-color);
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 100%;
}

.info-icon>img {
  width: 175px;
  height: 175px;
}

.info-text {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}

.details-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 6rem;
}

.details-subcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-subcontainer:nth-child(2) {
  flex-direction: row-reverse;
}

.details-info {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.details-title {
  font-size: 2rem;
}

.details-text {
  font-size: 1.25rem;
}

.details-image {
  width: 600px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}

.call-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.call-title {
  font-size: 3rem;
  text-align: center;
}

.call-subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.form-subcontainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-label {
  font-size: 1.5rem;
}

.form-select,
.form-input {
  border: 1px solid black;
  padding: 0.5rem 1rem;
}

.form-button {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 1rem 2rem;
  transition: 200ms ease-in-out;
}

.form-button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

.call-info {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.call-info-title {
  font-size: 4rem;
  color: var(--secondary-color);
}

.call-info-text {
  font-size: 1.25rem;
  text-align: center;
}

img {
  transition: 200ms ease-in;
  overflow: hidden;
}

img:hover {
  transform: scale(1.025);
}

/* footer */
.footer-container {
  background-color: var(--primary-color);
  padding: 4rem 16rem;
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.footer-subcontainer {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.footer-section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
}

.footer-navbar-list,
.social-media-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  color: #fff;
}